.menu{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 10px;
    padding: 15px;
}
.menu a {
    text-decoration: none;
    cursor: pointer;
    color: black;
}
.container{
   text-align: center;
}
.container li{
    list-style: none;
}
.info{
    border: 1px solid;
    width: 850px;
    margin: 30px auto;
    padding: 20px;
}
.info h1{
    width: 100%;
    display: flex;
    justify-content: center;

}
.forma{
    margin: 0 auto;
    border: 1px solid;
    width: 850px;
    top: 20px;
    padding: 20px;
}
.curriculo{
    margin: 35px auto;
    border: 1px solid transparent;
    width: 150px;
    padding: 10px;
    border-radius: 5%;
    background-color: red;
    cursor: pointer;
    transition: 0.7s;
}
.curriculo a{
    text-decoration: none;
    color: black;
}
.curriculo:hover {
    color: white;
    background-color: cornflowerblue;
   
}
@media (max-width: 460px){
    .container{
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .container h1{
        text-align: center;
        background-color: brown;
        width: 100%;
        margin: 0 auto;
    }
    .info{
        width: 95%;
        padding: 0 auto;
    }
    .info li{
        font-size: 15px;
    }
    .forma{
        width: 95%;
    }
    .forma li{
        font-size: auto;
        flex-direction: column;
    }
}